* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(assets/fonts/Roboto-Bold.ttf);
    weight: bold;
  }

  @font-face {
    font-family: 'Roboto Normal';
    src: url(assets/fonts/Roboto-Regular.ttf);
    weight: normal;
  }

  h1 {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 56px;
    line-height: 100%;
  }

  p, ul, form {
    font-family: 'Roboto Normal', sans-serif;
    font-size: 16px;
    line-height: 150%;
  }

body {
    background-color: #36384D;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    max-height: 641px;
    max-width: 928px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    padding: 1.3em;
}

main.subscribed {
    display: none;
}

aside {
    padding: 0 4em 0 3em;
    max-width: 376px;
}

aside p {
    margin: 24px 0;
}

picture img {
    max-width: 400px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

form input, form button, button {
    padding: 16px 20px;
    border-radius: 8px;
}

form input, ::placeholder {
    border-color: rgba(25, 24, 43, 0.25);
    cursor: pointer;
}

form input:focus {
    border-color: #242742;
    outline: none;
}

input:focus::placeholder {
    color: #242742;
    font-weight: normal;
}

form button, button {
    margin-top: 24px;
    background-color: #242742;
    color: white;
    font-weight: bold;
    border: none;
}

button:hover {
    background-image: linear-gradient(#FF6A3A, #FF527B);
    box-shadow: 0 16px 32px rgba(255, 97, 85, 0.5);
    cursor: pointer;
}

form label p{
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
}

form label {
    display: flex;
    justify-content: space-between;
}

form .invalidEmail {
    color: #FF6155;
    display: none;
}

.invalidEmail.active {
    display: block;
}

li {
    list-style-image: url(assets/images/icon-list.svg);
    list-style-position: inside;
    margin-bottom: 10px;
}

li span {
    vertical-align: top;
    margin-left: 10px;
}

li:last-of-type {
    margin-bottom: 0;
}

/** -------------SUCCESS SCREEN --------------**/

article {
    max-height: 520px;
    max-width: 380px;
    background-color: white;
    padding: 4em;
    border-radius: 36px;
    display: none;
}

article.subscribed {
    display: block;
}

article img {
    margin-bottom: 40px;
}

article h1 { margin-bottom: 24px;}

article p {max-width: 376px;}

article button {
    width: 100%;
    margin-top: 40px;
}

@media screen and (max-width: 600px ) {
    body {
        overflow: visible;
        margin: 0;
    }
    main {
        flex-direction: column;
        max-height: 842px;
        max-width: 375px;
        padding: 0;
        border-radius: 0;
    }

    h1 {
        font-size: 40px;
    }

    form label {font-size: 13px;}

    picture img {
        order: 0;
        max-width: 375px;
        max-height: 284px;
    }

    aside {
        order: 1;
        padding: 35px 2em;
    }

/** -------------SUCCESS SCREEN --------------**/
    article {
        height: 100vh;
        border-radius: 0;
        padding: 150px 2em 21px;
    }

    article button {
        margin-top: 130px;
    }
}


